<div class="row">
    <div class="col-lg-6 col-md-6">
        <h4 style="text-align: center;">Add Switches</h4>
        <div>Enter the IP address for the network switches on which the servers are connected.</div>
        <div class="space-10"></div>
        <div>
            <form name="addSwitchForm" class="form-horizontal">
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">Switch IP</label><div class="col-sm-9"><input type="text" ng-model="newswitch.ip" placeholder="Switch IP" required></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">Version</label><div class="col-sm-9"><select ng-model="newswitch.credentials.version" required><option>1</option>
                            <option>2c</option></select></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">Community</label><div class="col-sm-9"><input type="password" ng-model="newswitch.credentials.community" placeholder="Community" required></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">Filters</label><div class="col-sm-9"><input type="text" ng-model="newswitch.filters" placeholder="Filters" popover-placement="right" popover-trigger="focus" popover-title="Example" popover="allow ports 1-100,150-200;"></div>
                </div>
            </form>
            <div class="clearfix">
                <div class="col-md-offset-3 col-md-9"><button class="btn btn-primary" ng-click="addSwitch()" ng-disabled="addSwitchForm.$invalid">Add</button></div>
            </div>
            <div>
                <div class="space-10"></div>
                <alert ng-repeat="alert in alerts" type="danger" close="closeAlert()"><span ng-if="alert.message">{{alert.message}}</span> <span ng-if="!alert.message">Unknown error</span></alert>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <h4 style="text-align: center;" >Discover available servers</h4>
        <div class="center"><button class="btn btn-sm btn-primary" ng-click="findServers()">Discover Servers</button></div>
        <div class="space-20"></div>
    </div>
</div>
<div>
    <script type="text/ng-template" id="modifySwitchModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Switch</h3>
        </div>
        <div class="modal-body">
            <alert ng-repeat="alert in alerts" type="danger" close="closeAlert()">
                <span ng-if="alert.message">
                    {{alert.message}}
                </span>
                <span ng-if="!alert.message">
                    Unknown error
                </span>
            </alert>
            <form name="modifySwitchForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Switch IP</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="targetSwitch.ip" placeholder="Switch IP" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Version</label>
                    <div class="col-sm-9">
                        <select ng-model="targetSwitch.credentials.version" required>
                            <option>1</option>
                            <option>2c</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Community</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="targetSwitch.credentials.community" placeholder="Community" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Port Filter</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="targetSwitch.filters" placeholder="Port Filter">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
