<div ng-controller="networkCtrl">
	<div class="row">
		<div class="alert alert-info"><span>Please provide 3 subnets.</span><br><span>Check one as OS install network and use Autofill to assign ips. This is used to install OS.</span><br><span>The other 2 subnets are used in the next step to configure openstack network.</span></div>
	</div>
	<div class="space-10"></div>

	<div class="row">
		<div class="dashed-panel" ng-show="cluster.adapter_name=='openstack_pike' || cluster.adapter_name=='openstack_ocata' || cluster.adapter_name=='openstack_newton'" style="height: auto; background-color: rgba(224, 226, 227, 0.25)"><span class="action pull-right" ng-click="providerNetwork.isCollapsed = true;"><i class="ace-icon fa fa-times-circle bigger-120 networkDeleteButton"></i></span>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Provider Network Settings
						<span class="action" ng-click="openAddProviderModal('lg')"><i class="fa fa-plus-circle bigger-140 blue"></i></span>
					</h4>
					<table class="table table-hover nowrap">
						<thead>
							<tr>
								<th>Name</th>
								<th>Network</th>
								<th>Interface</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
         					<tr ng-repeat="sub in providers track by $index">
 	                            <td>{{sub.name}}</td>
 								<td>{{sub.network}}</td>
								<td>{{sub.interface}}</td>
								<td>{{sub.type}}</td>
							</tr>
						</tbody>
					</table>
					<div class="space-10"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="dashed-panel" ng-show="cluster.adapter_name=='openstack_pike' || cluster.adapter_name=='openstack_ocata' || cluster.adapter_name=='openstack_newton'" style="height: auto; background-color: rgba(224, 226, 227, 0.25)"><span class="action pull-right" ng-click="tenantNetwork.isCollapsed = true;"><i class="ace-icon fa fa-times-circle bigger-120 networkDeleteButton"></i></span>
			<h4> Tenant Network Settings </h4>
			<div class="space-10"></div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-sm-12">
					<table>
						<tbody></tbody>
							<tr>
								<td width="450px;">
									<label>Type</label>
									<input type="text" placeholder="Type" ng-model="tenant_net.type" ng-init="tenant_net.type='vxlan'">
								</td>
								<td width="450px;">
									<label>Range</label>
									<input type="text" placeholder="Range" ng-model="tenant_net.range" ng-init="'1:1000'">
								</td>
								<td width="450px;">
									<label>Provider Network</label>
									<input type="text" placeholder="Provider Network" ng-model="tenant_net.provider_network" ng-init="tenant_net.provider_network='None'">
								</td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="dashed-panel" style="height: auto; background-color: rgba(224, 226, 227, 0.25)"><span class="action pull-right" ng-click="autoFillPanel.isCollapsed = true;"><i class="ace-icon fa fa-times-circle bigger-120 networkDeleteButton"></i></span>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-sm-12">
					<h4>All Subnets
						<!-- <span class="action" ng-click="openAddSubnetModal()"><i class="fa fa-plus-circle bigger-140 blue"></i></span> -->
					</h4>
					<table class="table table-hover nowrap">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Subnet</th>
 							</tr>
						</thead>
						<tbody>
         					<tr ng-repeat="sub in subnetworks track by $index">
         						<td>
									<input ng-model="sub.selected" type="checkbox" class="ace"> <span class="lbl"></span>
         						</td>
								<td>{{sub.name}}</td>
								<td><input type="text" ng-model="sub.subnet" ng-class="{'red-border': !sub.valid}" placeholder="Subnet" ng-change="subnet_change($index,sub.subnet)" required></td>
							</tr>
						</tbody>
					</table>
					<div class="space-10"></div>
			           <button class="btn btn-primary" ng-click="ok()">Save</button>
				</div>
			</div>
			<div class="space-10"></div>
		</div>
	</div>
</div>
