<div ng-controller="networkMappingCtrl">
        <div class="row">
            <div class="panel" style="height: auto; padding: 10px; margin-top: -30px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info"><span>Bind openstack management and storage network to a physical inteface.</span>
                            <br><span>Two virtual networks will be created on the NIC based on the configurations.</span>
                            <br><span>Just choose network interface. Use the default values for the remaining configurations.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Internal Network Interface</h4>
                    </div>
                    <!-- <div class="col-sm-6">
                        <button class="btn btn-sm btn-info pull-right" ng-init="autoFillButtonDisplay='Enable Autofill'" ng-model="autoFill" style="margin-right:15px; margin-top:5px; margin-bottom:5px;" ng-click="autoFillManage()">{{autoFillButtonDisplay}}</button>
                    </div> -->
                    <table class="table table-hover nowrap">
                        <thead>
                            <tr>
                                <th>Network</th>
                                <th>NIC</th>
                                <th>CIDR</th>
                                <th>Start IP</th>
                                <th>End IP</th>
                                <th>Vlan Configuration</th>
                                <th>Gateway I.P.</th>
                                <th></th>
                                <!-- <th ng-if="autoFill">Autofill Rules</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <span>{{subnetworks}} </span>
                            <tr ng-repeat="item in subnetworks" ng-if="item['selected']==true">
                                <td><span class="external-event margin-right-5 fade-animation" ng-class="{
                                    'label-success': item['name'] == 'mgmt',
                                    'label-warning': item['name'] == 'storage',
                                    'label-primary': item['name'] == 'tenant',
                                    'label-secondary': item['name'] == 'external'
                                }">
                                        <span class="capitalize">{{item["name"]}}</span></span>
                                </td>
                                <td>
                                    <select class="max-width-200" ng-model="internal[item['name']]">
                                        <option ng-repeat="host in common_hosts" ng-init="selected_subnets[item['name']]=common_hosts[0]" ng-hide="interface.is_mgmt" value="{{host}}" ng-selected="selected_subnets[item['name']] == host">{{host}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="{{item['name']}}-cidr" type="text" class="input-medium" ng-init="ips[item['name']].cidr=item['subnet']" ng-model="ips[item['name']].cidr " placeholder="CIDR" ng-change="updateInternalNetwork(network_key)">
                                </td>
                                <td>
                                    <input id="{{item['name']}}-ipstart" type="text" class="input-medum" ng-model="ips[item['name']].start" placeholder="IP Start">
                                </td>
                                <td>
                                    <input id="{{item['name']}}-ipend" type="text" class="input-medium" ng-model="ips[item['name']].end" placeholder="IP End">
                                </td>
                                <td><span class="label-yellow" style="color: #fff">Vlan Tag</span>
                                    <input id="{{item['name']}}-vlan-tag" type="text" class="input-small" ng-model="vlanTags[item['name']]" placeholder="Vlan tag">
                                </td>
                                <td>
                                    <input type="text" placeholder="gateway">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-info pull-right" ng-init="autoFillButtonDisplay='Enable Autofill'" ng-model="autoFill" style="margin-right:15px; margin-top:5px; margin-bottom:5px;" ng-click="autoFillManage(item['name'], ips[item['name']].start, ips[item['name']].end, internal[item['name']], vlanTags[item['name']])">{{autoFillButtonDisplay}}</button>
                                </td>
                                <td ng-if="autoFill">
                                    <input id="{{item['name']}}-ipstart" type="text" ng-model="sub.autoInput" class="input-medium" placeholder="IP Start">
                                    <select id="{{item['name']}}-increase-num">
                                        <option value="1">Increase by 1</option>
                                        <option value="2">Increase by 2</option>
                                        <option value="3">Increase by 3</option>
                                        <option value="4">Increase by 4</option>
                                        <option value="5">Increase by 5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border:none">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td ng-if="autoFill">
                                    <h4>Autofill Hostname</h4>
                                    <select id="hostname-rule" class="input-large">
                                        <option value="" selected="selected">Please select a pattern</option>
                                        <option value="switch_ip">IP</option>
                                    </select>
                                    <button ng-click="autofill(3000)" class="btn btn-sm btn-primary">Fill Values</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span style="margin-right: 10px">Management Network Virtual IP</span>
                            <input id="interal_vip" type="text" class="input-medium" ng-model="ips.mgmt.internal_vip" placeholder="Internal Virtual IP">
                        </div>
                        <div class="col-sm-6">
                            <span style="margin-right: 10px">External Network Virtual IP</span> <input id="external_gw" type="text" class="input-medium" ng-model="ips.external.public_vip" placeholder="External Virtual IP for HA"></div>
                    </div>
                </div>
            </div>
    
            <div class="space-10"></div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="pull-left"><span class="input-icon"><input type="text" placeholder="Search" ng-model="search.$"> <i class="ace-icon fa fa-search blue"></i></span>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" style="border-radius:7px !important" dropdown-toggle ng-disabled="disabled">Column Show / Hide <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" dropdown>
                                <li ng-repeat="column in server_columns" ng-click="column.visible=!column.visible"><a class="action"><span ng-class="{'opacity-zero': !column.visible}"><i class="ace-icon fa fa-check blue"></i></span> {{column.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <alert ng-repeat="alert in networkAlerts" class="autofill-success fade-animation" type="success">{{alert.msg}}</alert>
                <div class="row">
                    <div class="space-6"></div>
                    <table ng-table="tableParams" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="column in server_columns" ng-show="column.visible" class="sortable" ng-class="{'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                'sort-desc': tableParams.isSortBy(column.field, 'desc')}" ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                    <div>{{column.title}}</div>
                                </th>
                                <!-- <th class="networkDeleteView" ng-repeat="(name, value) in interfaces" ng-show="value.is_mgmt" ng-mouseover="deleteView=true" ng-mouseleave="deleteView=false">{{name}} <span ng-click="deleteInterface(name)" class="action"><i ng-class="{'networkDeleteButton': deleteView}" class="ace-icon fa fa-times-circle bigger-120 light-grey"></i></span>
                                </th> -->

                                <th>{{autofill_subnet_interface}}-{{autofill_subnet_vlan}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="server in $data | filter: search" ng-init="total=$data.length;serverIndex = $index; server.networks = server.networks === undefined? {} : server.networks">
                                <td class="center-align" ng-repeat="column in server_columns" ng-show="column.visible" sortable="column.field">
                                    <span ng-switch on="column.field">
                                        <span ng-switch-when="hostname">
                                            <input ng-model="server[column.field]" placeholder="Hostname" ng-init="server[column.field]='host'+serverIndex" class="form-control max-width-150 margin-bottom-0" type="text" ng-keypress data-position="position_{{serverIndex}}">
                                        </span>
                                        <span ng-switch-when="os_installed">
                                            <span ng-if="server['os']"><label><input ng-model="server.reinstallos" type="checkbox" class="ace"> <span class="lbl"></span>
                                                </label>
                                            </span>
                                            <span ng-if="!server['os']">-</span>
                                        </span>
                                        <span ng-switch-when="clusters">
                                            <span ng-repeat="cluster in server.clusters">{{cluster.name}}&nbsp;</span>
                                        </span>
                                        <span ng-switch-when="mac">
                                            <select>
                                                <option ng-repeat="(key, value) in server.mac">{{key}}- {{value}}</option>
                                            </select>
                                        </span>
    
                                        <span ng-switch-default>{{server[column.field]}}</span>
                                    </span>
                                </td>
                                <!-- <td class="eth-width" ng-repeat="(name, value) in interfaces" ng-show="value.is_mgmt" ng-init="server.networks[name] = server.networks[name] === undefinded ? {} :
                  server.networks[name];interfaceIndex=$index">
                                    <input ng-model="server.networks[name].ip" placeholder="IP Address" class="form-control max-width-150 margin-bottom-0" type="text" ng-keypress data-position="position_{{total*(interfaceIndex+1)+serverIndex}}">
                                </td> -->
                                <td> {{subnet_name}}
                                <span class="eth-width" ng-show="auto">
                                    <input ng-model="subnet.networks[subnet_name].ip" ng-init="increment_ip(autofill_subnet_startip, 1, subnet_name)" placeholder="IP Address" class="form-control max-width-150 margin-bottom-0" type="text" ng-keypress data-position="position_{{total*(interfaceIndex+1)+serverIndex}}">
                                </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>